# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
agrointel/
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
*.env

# VS Code / IDE settings
.vscode/
*.code-workspace
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest / Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
